.bgAccueil {

    background-image: url(../img/bgAccueil.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 400px;
    width: 100%;
    height: 15%;

}

.titleAccueil {
    
    font-size: 170px;
    text-shadow: 7px 7px #8C3725;
    font-family: georgia, serif ;
    font-style: inherit;

}

.subtitleAccueil {

    font-size: 230%;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    text-shadow: 2px 2px 4px red, 0 0 1em black, 0 0 2em black;
    font-family: georgia, serif ;
    font-style: inherit;

}

.footerCustom {

    width: 100%;
    height: 4%;
    background-color: #CF3C1E;
    -webkit-box-shadow: inset 1px 0px 251px 65px rgba(61,36,61,0.57);
    -moz-box-shadow: inset 1px 0px 251px 65px rgba(61,36,61,0.57);
    box-shadow: inset 1px 0px 251px 65px rgba(61,36,61,0.57);

}

.listFooter {

    font-family: system-ui;
    font-size: 14px;
    color: #72fcff;
    margin: 2%;
    position: relative;

}

.titleFooter {

    font-size: 70px;
    text-shadow: 1px 1px 3px orangered, 0 0 0em black, 0 0 0.2em black;
    /*text-shadow: 4px 4px #555454;*/
    font-family: ui-rounded;
    font-style: unset;

}

.droppdownCustom {

    padding-right: 90px;
    padding-left: 20px;

}

.artDDCustom {

    padding-right: 80px;
    padding-left: 150px;

}